@import 'base';
.roadmap {
    @include card;
    font-size: 1.2rem;
    color: $grey-4;

    .title {
        color: $grey-3;
        font-weight: 800;
        font-size: 1.6rem;

        a {
            font-size: 1.2rem;
            float: right;
            color: $blue-1;
            opacity: .8;
            &:hover {

            }
        }
    }

    &__item {
        margin: .7rem 0;

        .dot {
            height: 7px;
            width: 7px;
            
            border-radius: 50%;
            display: inline-block;
            margin-right: 1rem;

        }

        .orange {
            background-color: #F49F85;
        }

        .purple {
            background-color: #AD1FEA;
        }

        .blue {
            background-color: #62BCFA;
        }

        span.count {
            float: right;
            font-weight: 800;
        }
    }
}