@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

//COLORS
$fuschia: #AD1FEA;
$blue-1: #4661E6;
$blue-2: #373F68;
$blue-3: #CFD7FF;

$grey-1: #F2F4FE;
$background-grey: #F7F8FD;
$grey-3: #3A4374;
$grey-4: #647196;
$grey-5: #8C92B3;

$orange: #F49F85;

$white: #FFFFFF;
$aqua: #62BCFA;

$error-red: #D73737;

$tablet: 750px;
$mobile: 500px;

@mixin card {
    border-radius: 1rem;
    background-color: $white;
    padding: 2rem;
    margin-bottom: 2rem;
}

@mixin tag {
    background-color: $grey-1;
    border-radius: 1rem;
    margin: .4rem;
    padding: .5rem 1rem;
    font-weight: 800;
    font-size: 1.2rem;

    &:hover {
        background-color: $blue-3;
        cursor: pointer;
    }
}

@mixin button {
    border-radius: .4rem;
    font-weight: 700;
    cursor: pointer;
    padding: .8rem 2rem;
    border: none;
    color: $grey-1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;

    &:active {
        color: inherit;
    }
}

ul {
    list-style: none;
}

textarea {
    resize: none;
    border: none;

    &::placeholder {
        color: $grey-5;
    }
}

button {
    @include button;
    font-family: inherit;
    font-size: 1.2rem;
}

textarea:focus, input:focus, select:focus{
    outline: solid .5px $blue-1;
}

.text-input {
    background-color: $background-grey;
    padding: .8rem 1.7rem;
    font-family: inherit;
    color: $grey-3;
    border-radius: .3rem;

    &:active {
        border: none;
    }
}

.go-back {
    
    a {
        font-size: 1.2rem;
        font-weight: 800;
        color: $grey-4;
    }
    img {
        margin-right: 1rem;
    }
}
.inactive {
    opacity: .4;
}

.first-option {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-input {
    background-color: $white;
    padding: .8rem 1.7rem;
    font-family: inherit;
    color: $grey-3;
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;

    &:first-child {
        border-top-left-radius:  .3rem;
        border-top-right-radius:  .3rem;
    }

    &:last-child {
        border-bottom-left-radius:  .3rem;
        border-bottom-right-radius:  .3rem;
    }
    
    &:active {
        border: none;
    }

    &:hover {
        color: $fuschia;
    }

    &:not(:last-child) {
        border-bottom: solid 1px rgba(58, 67, 116, 0.15);
    }
}

.dropdown {
    background-color: $white;
    color: $grey-4;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
    width: 15rem;
}

.text-input--active {

}

.text-input--error {
    outline: solid .5px $error-red;
}

.delete-btn {
    background-color: $error-red;
}

.error {
    color: $error-red !important;
}