@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

//COLORS
$fuschia: #AD1FEA;
$blue-1: #4661E6;
$blue-2: #373F68;
$blue-3: #CFD7FF;

$grey-1: #F2F4FF;
$background-grey: #F7F8FD;
$grey-3: #3A4374;
$grey-4: #647196;

$orange: #F49F85;

$white: #FFFFFF;
$aqua: #62BCFA;

@mixin card {
    border-radius: 1rem;
    background-color: $white;
    padding: 2rem;
    margin-bottom: 2rem;
}

@mixin tag {
    background-color: $grey-1;
    border-radius: 1rem;
    margin: .4rem;
    padding: .5rem 1rem;
    font-weight: 800;
    font-size: 1.2rem;
}

@mixin button {
    border-radius: .4rem;
    font-weight: 700;
    cursor: pointer;
    padding: .8rem 2rem;
    border: none;
    color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Jost', sans-serif;
}

ul {
    list-style: none;
}

button {
    @include button;
    font-family: inherit;
    font-size: 1.2rem;
}