.header {
    background-image: url("../../assets/suggestions/desktop/background-header.png"); /* The image used */
    background-color: #fff; /* Used if the image is unavailable */
    height: 200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 15rem;
    border-radius: 1rem;
    padding: 1.8rem;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .title {
        font-weight: 800;
    }

    .subtitle {
        font-size: 1.4rem;
        opacity: .8;
    }
}