@import 'base';
@import './components/ListFilter/ListFilter.module.scss';
@import './components/Roadmap/Roadmap.module.scss';
@import './components/Header/Header.module.scss';
@import './components/Suggestions/Suggestions.module.scss';
body {
  background-color: $background-grey;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
}

.controls {
  flex: 0 0 25%;
  margin-right: 2rem;
}

