@import 'base';
@import './components/ListFilter/ListFilter.module.scss';

body {
  background-color: $background-grey;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
}

.controls {
  flex: 0 0 30%;
}

