@import 'base';
@import './components/ListFilter/ListFilter.module.scss';
@import './components/Roadmap/Roadmap.module.scss';
@import './components/Header/Header.module.scss';
@import './components/Banner/Banner.module.scss';
@import './components/RequestsListItem/RequestsListItem.module.scss';
@import './components/RequestsList/RequestsList.module.scss';
@import './components/RequestForm/RequestForm.module.scss';

body {
  background-color: $background-grey;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.controls {
  flex: 0 0 25%;
  margin-right: 2rem;
}

.controls-mobile {
  display: none;
}

@media only screen and (max-width: $tablet) {
  .container {
    flex-direction: column;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;

    .filters {
      margin-right: 1rem;
      margin-left: 1rem;
      flex: 0 0 40%;
    }

    .roadmap {
      flex: initial;
      display: flex;
      align-items: center;

      .title  {
        display: flex;
        justify-content: space-between;
      }

      &__item {
        display: flex;
        align-items: center;

      }

      .count {
        margin-left: auto;
      }
    }

    header {
      height: initial;
    }
  }
}

@media only screen and (max-width: $mobile) { 
  .container {
    width: 100%;
    margin-top: 0;

    header {
      border-radius: 0;
      margin-bottom: 0;
      flex: 1;
    }

    .filters, .roadmap {
      display: none;
    }


    .controls-mobile {
      display: initial;
      border: solid red 1px;
      padding: 1.8rem;
      width: 80%;
      margin-left: auto;
      position: absolute;
      top: 8rem;
      right: 0;
      background-color: $background-grey;
      z-index: 10;
      height: 100vh;

      .filters, .roadmap {
        display: block;
      }
    }
  }
}