.banner {
    padding: 1.8rem;
    width: 100%;
    color: $white;
    background-color: $blue-2;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    &__info {
        font-weight: 800;
        display: flex;
        align-items: center;
        position: relative;

        img {
            margin-right: 2rem;
        }

        .sort-by {
            font-weight: 400;
            opacity: .8;
            margin-left: 2rem;
            font-size: 1.2rem;
            cursor: pointer;

            .sort-order {
                color: $grey-1;
                font-weight: 800;
            }
        }
    }

    &__sort-dropdown {
        position: absolute;
        right: -4rem;
        top: 4rem;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                margin-right: 0;
            }
        }
    }

    &__add-btn {
        
        background-color: $fuschia;
        
        a {
            color: $grey-1;
        }
    }

    &__add-feedback-link {
        margin-left: auto;
    }
}

@media only screen and (max-width: $mobile) {  

    .banner {
        border-radius: 0;
    }
}