.banner {
    padding: 1.8rem;
    width: 100%;
    color: $white;
    background-color: $blue-2;
    border-radius: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    &__info {
        font-weight: 800;
        display: flex;
        align-items: center;
        position: relative;

        img {
            margin-right: 2rem;
        }

        .sort-by {
            font-weight: 400;
            opacity: .8;
            margin-left: 2rem;
            font-size: 1.2rem;
        }
    }

    &__sort-dropdown {
        position: absolute;
        right: -11rem;
        top: 6rem;
    }

    &__add-btn {
        margin-left: auto;
        background-color: $fuschia;
        
        a {
            color: $grey-1;
        }
    }
}

@media only screen and (max-width: $mobile) {  

    .banner {
        border-radius: 0;
    }
}